<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<mail>
    <host address="mail.zfolio.com" port="587" user="zfolio10" password="CCz45hot" />
		<message>
			<sender>
				<name>Auction Mail Robot</name>
				<email>admin@seizedpropertyauctions.com</email>
			</sender>
		</message>
	</mail>
  <bidding>
    <host address="mail.zfolio.com" port="587" user="zfolio10" password="CCz45hot" />
    <message>
      <sender>
        <name>Auction Mail Robot</name>
        <email>admin@seizedpropertyauctions.com</email>
      </sender>
    </message>
  </bidding>
  <registration>
    <host address="mail.zfolio.com" port="587" user="zfolio10" password="CCz45hot" />
    <message>
      <sender>
        <name>Auction Mail Robot</name>
        <email>admin@seizedpropertyauctions.com</email>
      </sender>
    </message>
  </registration>
  <invoices>
    <host address="mail.zfolio.com" port="587" user="zfolio10" password="CCz45hot" />
    <message>
      <sender>
        <name>Auction Mail Robot</name>
        <email>admin@seizedpropertyauctions.com</email>
      </sender>
    </message>
  </invoices>
	<returnpath>
		<host address="mail.zfolio.com" port="587" user="zfolio10" password="CCz45hot" />
		<message>
			<sender>
				<name>Auction Mail Robot</name>
				<email>admin@seizedpropertyauctions.com</email>
			</sender>
		</message>
	</returnpath>

</configuration>