<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://seizedpropertyauctions.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>seizedpropertyauctions.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>SeizedPropertyAuctions</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$SeizedPropertyAuctions</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="SPAUserSessionsConnectionString" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:cg5q1ennf1.database.windows.net,1433;Initial Catalog=SPA;Persist Security Info=True;User ID=Lelands@cg5q1ennf1;Password=Devm0123;Connect Timeout=240" Name="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=&quot;tcp:cg5q1ennf1.database.windows.net, 1433&quot;;Initial Catalog=SPA;User ID=Lelands@cg5q1ennf1;Password=Devm0123;Connect Timeout=240" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SPAUserSessionsConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=tcp:cg5q1ennf1.database.windows.net, 1433;Initial Catalog=SPA;User ID=Lelands@cg5q1ennf1;Password=Devm0123;MultipleActiveResultSets=true;Connect Timeout=240" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="VauctionConnectionStringSPA1" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:cg5q1ennf1.database.windows.net,1433;Initial Catalog=SPA;Persist Security Info=True;User ID=Lelands@cg5q1ennf1;Password=Devm0123;Connect Timeout=240" Name="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=&quot;tcp:cg5q1ennf1.database.windows.net, 1433&quot;;Initial Catalog=SPA;User ID=Lelands@cg5q1ennf1;Password=Devm0123;Connect Timeout=240" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\VauctionConnectionStringSPA1_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=tcp:cg5q1ennf1.database.windows.net, 1433;Initial Catalog=SPA;User ID=Lelands@cg5q1ennf1;Password=Devm0123;MultipleActiveResultSets=true;Connect Timeout=240;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SPAUserSessionsConnectionString-Web.config Connection String">
      <ParameterValue>data source=tcp:cg5q1ennf1.database.windows.net,1433;initial catalog=SPA;persist security info=True;user id=Lelands@cg5q1ennf1;password=Devm0123;connect timeout=240;MultipleActiveResultSets=true</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)VauctionConnectionStringSPA1-Web.config Connection String">
      <ParameterValue>data source=tcp:cg5q1ennf1.database.windows.net,1433;initial catalog=SPA;persist security info=True;user id=Lelands@cg5q1ennf1;password=Devm0123;connect timeout=240;MultipleActiveResultSets=true</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>