<?xml version="1.0" encoding="utf-8" ?> 
<Logger>
	<!-- Define which Exception Categories should be logged. The field is a Mask, so please count the necessary Categories amount to log them Exception = 2, Warning = 4, Info = 8,	Verbose = 16. -->
	<!-- For Example Log All Categories: 2 + 4 + 8 + 16 = 30 -->
	<MessageLoggingBitmask datatype="Int32">30</MessageLoggingBitmask>
	<InnerXmlFileName>/Pool/Log/XmlLogInner.txt</InnerXmlFileName>
	<MessageLogging>
		<LogToFile datatype="Boolean">true</LogToFile>
		<LogToEmail datatype="Boolean">false</LogToEmail>
		<LogToEventlog datatype="Boolean">false</LogToEventlog>
	</MessageLogging>
	<ErrorLogging>
		<LogToFile datatype="Boolean">true</LogToFile>
		<LogToEmail datatype="Boolean">false</LogToEmail>
		<LogToEventlog datatype="Boolean">false</LogToEventlog>
		<LogToXml datatype="Boolean">true</LogToXml>
		<LogToHtml datatype="Boolean">true</LogToHtml>
		<LogToDb datatype="Boolean">true</LogToDb>
	</ErrorLogging>
	<XslTemplatePath>ReportTemplate.xslt</XslTemplatePath>
	<File>
		<FileName>/Pool/Log/Exceptions.log</FileName>
	</File>
	<Xml>
		<FileName>/Pool/Log/Error{{ERRORID}}.xml</FileName>
		<GenerateHtml datatype="Boolean">true</GenerateHtml>
	</Xml>
	<Mail>
		<MailFrom>noreply@quadecco.com</MailFrom>
		<MailTo>noreply@quadecco.com</MailTo>
		<MailSubject>Error report</MailSubject>
		<SmtpServer>smtpout.secureserver.net</SmtpServer>	
	</Mail>
</Logger>